.app-header {
  padding: 10px;
  background-color: black;
  color: rgb(255, 255, 255);
  align-items: center;
  display: flex;
}

.app-header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.app-header .image {
  height: 50px;
  width: 50px;
}

.app-header .logo {
  height: 50px;
  width: 96px;
  margin-left: -10px;
}

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}